/* styles */
/* called by your view template */

body {
  font-family: "Courier", monospace;
  margin: 2em;
  background-color:dimgray;
  color:cyan;
  text-align:center;
}
/* canvas {
  transform: scale(1.2);
} */
