/* styles */
/* called by your view template */

body {
  font-family: "Courier", monospace;
  margin: 2em;
  background-color:black;
  color:cyan;
  text-align:center;
}
canvas {
  transform-origin: top center;
  image-rendering: optimizeSpeed;
}
video {
  transform-origin: top right;
  transform: scale(0.5);
  position:fixed;
  right:0;
  top:0;
  
}